[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "==1.1.1"
flask-restful = "==0.3.7"
flask-sqlalchemy = "==2.4.1"
psycopg2-binary = "==2.8.4"

[requires]
python_version = "3.7"
